
*
{
    transition: all 1s;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background-color: rgba(196, 45, 50, 0.68);
    color: #fff;
    text-shadow: none;
}

body
{
    
    
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    color: #444444;
    line-height: 1.6;
    font-family: Helvetica, arial, sans-serif;
    overflow-x: hidden;
    
 
  
}




/*start nav*/


.navbar{
    background: black!important;
    /*overflow-x: hidden;*/
}

.navbar i {
    color: white;
    margin-left: 20px;
}
.navbar-nav {
    font-weight: 700;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.dropdown-item{
    
    font-family: cursive;
    color: white;
    
}
.navbar-nav .dropdown-menu {
    background-color: #702124;
}


.navbar-toggler{
    font-size: 8px;
    height: 35px;
    right: 25px!important;
    box-sizing: border-box;
    margin-bottom: -3px;
  background-color:#702124;
  /*color: white;*/
  opacity: 1;


}
.navbar-toggler:hover{
    background-color: #302124;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/*end nav*/


/*start about section*/
.about h1{
font-size: 35px;
font-weight: bold;
margin: 120px 0px 20px 0px;
}

.about img{
    width: 100%;
}

.about h2{
    margin: 20px 0px;

}

.about p{
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: #777;

}
.about span{
    color: brown;
}


/*start footer*/
footer{
    margin-top: 80px;
    background-color: #702124;;
    color: white;
    padding-top: 50px;
    margin: 0px!important
}
footer ul li{
    list-style: none;
    

}
footer ul li a{
   color: white;
    text-decoration: none; 
}
footer h3{
    color: black;
}
footer i{
    color: white;
}
.copy {
font-size: 12px;
padding: 10px;
border-top: 1px solid #FFFFFF;
}