*
{
transition: all 1s;
}

:after, :before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
::selection {
background-color: rgba(196, 45, 50, 0.68);
color: #fff;
text-shadow: none;
}
body
{    
margin-top: 20px;
padding: 0px;
margin-top: 150px;
color:black;
line-height: 1.7;
/*background-color: #702124;*/
overflow-x: hidden;
font-weight: 600;
font-size: 16px;   
text-align: center;
    background: url('../images/img2.jpg');
/**/font-family: cursive,sans-serif,monospace;*/
}
.custom-select{
    margin: 20px 0px;
    width: 450px

    
}
#certificate button{
    background-color: brown!important;
    color: white;
}

input{
    margin: 20px;
    background-color: white;
    color: #702124;
    width: 300px;
    text-align: center;
    border: 1px solid #702124;
    font-weight: bold;
    font-family: cursive;
}

.my-3{margin: 20px;
}


/*start nav*/


.navbar{
    background: black!important;
}

.navbar i {
    color: white;
    margin-left: 20px;
}
.navbar-nav {
    font-weight: 700;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.dropdown-item{
    
    font-family: cursive;
    color: white;
    
}
.navbar-nav .dropdown-menu {
    background-color: #702124;
}

/*end nav*/




















/*end foooter*/


.navbar-toggler{
    font-size: 8px;
    height: 35px;
    right: 25px!important;
    box-sizing: border-box;
    margin-bottom: -3px;
  background-color:#702124;
  /*color: white;*/
  opacity: 1;


}
.navbar-toggler:hover{
    background-color: #302124;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/*end nav*/



/*start footer*/
footer{
    margin-top: 80px;
    background-color: #702124;;
    color: white;
    padding-top: 50px;
}
footer ul li{
    list-style: none;
    

}
footer ul li a{
   color: white;
    text-decoration: none; 
}
footer h3{
    color: black;
}
footer i{
    color: white;
}
.copy {
font-size: 12px;
padding: 10px;
border-top: 1px solid #FFFFFF;
}


