*{
    transition: all 1s;
}

:after, :before{
      -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection{
    background-color: rgba(196,45,50,.68);
    color: #fff;
    text-shadow: none;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    color: #444;
    line-height: 1.6;
    overflow-x: hidden;
    font-family: helvetica,arial,sans-serif;

}
.navbar{
    background-color: black!important;
}
.navbar i {
    color: white;
    margin-left: 20px;
}
.navbar-nav {
    font-weight: 700;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.dropdown-item{
    color: white;
    font-family: cursive;
}
.navbar-nav .dropdown-menu{
    background-color: #702124;
} 

.navbar-toggler{
    font-size: 8px;
    height: 35px;
    right: 25px!important;
    box-sizing: border-box;
    margin-bottom: -3px;
  background-color:#702124;
  /*color: white;*/
  opacity: 1;


}
.navbar-toggler:hover{
    background-color: #302124;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/*end nav*/


/*start iso_45001*/

.clients{
    /*margin-top: 350px;*/
    padding-top: 80px;
    background: url('../images/img7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}




/*start footer*/
footer{
    background-color: #702124;;
    color: white;
    padding-top: 50px;
}
footer ul li{
    list-style: none;
    

}
footer ul li a{
   color: white;
    text-decoration: none; 
}
footer h3{
    color: black;
}
footer i{
    color: white;
}
.copy {
font-size: 12px;
padding: 10px;
border-top: 1px solid #FFFFFF;
}