
*
{
    transition: all 1s;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background-color: rgba(196, 45, 50, 0.68);
    color: #fff;
    text-shadow: none;
}

body
{
    
    
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    color: #444444;
    line-height: 1.6;
    font-family: cursive,Helvetica, arial, sans-serif;
    overflow-x: hidden;
    
 
  
}




/*start nav*/


.navbar{
    background: black!important;
}

.navbar i {
    color: white;
    margin-left: 20px;
}
.navbar-nav {
    font-weight: 700;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.dropdown-item{
    
    font-family: cursive;
    color: white;
    
}
.navbar-nav .dropdown-menu {
    background-color: #702124;
}


.navbar-toggler{
    font-size: 8px;
    height: 35px;
    right: 25px!important;
    box-sizing: border-box;
    margin-bottom: -3px;
  background-color:#702124;
  /*color: white;*/
  opacity: 1;


}
.navbar-toggler:hover{
    background-color: #302124;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/*end nav*/


.hir{
    margin-top: 100px;
    font-size: 18px;
    color: brown;
}

.address{
    /*font-family: cursive;*/
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 20px;
    
}

.address .list-group li {
    margin: 10px
    border: 2px solid brown;
}
.list-group-flush .list-group-item{
    color: brown;
}
.contact-us {
    background: url(../images/img2.jpg) no-repeat;
    background-size: 100% 100% ;
    margin-bottom: 30px;
    
}

.contact-us h1{
    color: white;
}

.contact-us p{
    color: white;
}
.contact-us .overlay{
    background: rgba( 2 , 2 , 2 , 0.8);
    min-height: 500px;
}
.contact-us h1{
     font-weight: bold;
}
.contact-us .header{
    color: #FFF;
    padding-top: 40px;
    padding-bottom: 20px;
}
.contact-us textarea.form-control{
    
}
.contact-us textarea.form-control , 
.contact-us input{
    background: rgba(82 , 78 , 78 , 0.7);
    color: #FFF;
    border: none;
}

/*start footer*/
footer{
    margin-top: 80px;
    background-color: #702124;;
    color: white;
    padding-top: 50px;
}
footer ul li{
    list-style: none;
    

}
footer ul li a{
   color: white;
    text-decoration: none; 
}
footer h3{
    color: black;
}
footer i{
    color: white;
}
.copy {
font-size: 12px;
padding: 10px;
border-top: 1px solid #FFFFFF;
}