
*
{
    transition: all 1s;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background-color: rgba(196, 45, 50, 0.68);
    color: #fff;
    text-shadow: none;
}

body
{
    
    
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    color: #444444;
    line-height: 1.6;
    font-family: Helvetica, arial, sans-serif;
    overflow-x: hidden;
    
 
  
}




/*start nav*/


.navbar{
    background: black!important;
}

.navbar i {
    color: white;
    margin-left: 20px;
}
.navbar-nav {
    font-weight: 700;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.dropdown-item{
    
    font-family: cursive;
    color: white;
    
}
.navbar-nav .dropdown-menu {
    background-color: #702124;
}


.navbar-toggler{
    font-size: 8px;
    height: 35px;
    right: 25px!important;
    box-sizing: border-box;
    margin-bottom: -3px;
  background-color:#702124;
  /*color: white;*/
  opacity: 1;


}
.navbar-toggler:hover{
    background-color: #302124;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/*end nav*/

/*start section logo_policy*/

.logo_policy{
    margin: 70px 0px 0px 0px;
    padding-top: 100px;
    background-image: linear-gradient(#ffd89b,#185a9d,#19547b,#b06ab3);
}

.logo_policy h1{
    color: brown;
    text-align: center;
    margin-bottom: 50px;}

.logo_policy .div1{
    color: black;
    background-color: white;
    padding: 20px;
}


/*start div2*/
.logo_policy .div2{
    background-color: lightblue;
    color: black;
    padding: 20px;
}
.logo_policy button{
    border-style: none;
}
.logo_policy button:focus{
   outline: none;
}

#myDIV {
  width: 100%;
  padding: 50px 0;
  /*text-align: center;*/
  background-color: lightblue;
  margin-top: 20px;
  display: none;
}
#myDIV p{
background-color: white;
padding: 20px;
}

/*end div2*/

/*start div3*/


.logo_policy .div3{
    background-color: gray;
    color: white;
    padding: 20px;
    /*display: none;*/
}
.logo_policy button{
    border-style: none;
}
.logo_policy button:focus{
   outline: none;
}

#myDIV3 {
  width: 100%;
  padding: 50px 0;
  /*text-align: center;*/
  margin-top: 20px;
  display: none;
}
#myDIV3 p{
background-color: white;
color: black;
padding: 20px;

}











/*start footer*/
footer{
   
    background-color: #702124;;
    color: white;
    padding-top: 50px;
}
footer ul li{
    list-style: none;
    

}
footer ul li a{
   color: white;
    text-decoration: none; 
}
footer h3{
    color: black;
}
footer i{
    color: white;
}
.copy {
font-size: 12px;
padding: 10px;
border-top: 1px solid #FFFFFF;
}